@import "tailwindcss";

* {
  cursor: url(../../public/assets/cursor-1.cur), auto;
}

@theme {
  --color-primary: #0d47a1;
  --color-secundary: #FFD700;
  --color-background: #1a237e;
  --color-textBase: #FFFFFF;
  --color-textEasy: #CCCCCC;
}